@tailwind base;
@tailwind components;
@tailwind utilities;

body p {
    font-family: "Noto Sans Display", sans-serif;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.homepage .loader {
    border-color: #000;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.sideNav-link.navLink-icon:after {
    transition: all 0.2s ease-in-out;
}
.sideNav-link.navLink-icon:hover:after {
    transition: all 0.2s ease-in-out;
}
a.active .icon-container {
    background-color: transparent;
    box-shadow: none;
}

/* Nav Toggler for Answered and Unanswered Questions (Active and Inactive States) */

#questions-wrapper .unanswered-questions {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.2s;
    visibility: hidden;
}
#questions-wrapper.showUnansweredQuestions .unanswered-questions {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
}
#questions-wrapper .unanswered-questions .unanswered-qs {
    opacity: 0;
    transform: translateX(-100%);
}
#questions-wrapper .unanswered-questions .unanswered-qs.show {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
}
#questions-wrapper .answered-questions {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.2s;
    visibility: hidden;
}
#questions-wrapper.showAnsweredQuestions .answered-questions {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
}
#questions-wrapper .answered-questions .answered-qs {
    opacity: 0;
    transform: translateX(-100%);
}
#questions-wrapper .answered-questions .answered-qs.show {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
}

/* Button Active States */

.secondary-nav li.active button#unanswered,
.secondary-nav li.active button#answered {
    background-color: #fff;
    color: rgb(167, 139, 250);
    border: 1px solid rgb(167, 139, 250);
}

/* Options Selected */

.optionOne.selected,
.optionTwo.selected {
    transition: all 0.1s ease-in;
    background-color: rgb(167, 139, 250);
    color: #fff;
}
.optionOne.selected p,
.optionTwo.selected p {
    color: #fff;
}

/* Answered Questions */

.answered-qs button.answered {
    background-color: rgb(167, 139, 250);
    color: #fff;
    border: 1px solid rgb(167, 139, 250);
}
.answered-qs button.answered p {
    color: #fff;
}
